body {
    background-color: white;
    font-family: 'Red Hat Display', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
}
h1 {
    padding-top: 47px;
    color: #28283D;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px; /* 100% */
    margin: 0px 48px 0px 47px;
}
section h2 {
    width: 445px;
    padding-top: 16px;
    margin: auto;
    color: #28283D;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px; /* 110% */
}
h3 {
    color: #4D96A9;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px; /* 162.5% */
    letter-spacing: 4px;
    text-transform: uppercase;
}
.groupe {
    display: flex;
    flex-direction: column;
    width: 540px;
    text-align: center;
}
p {
    color: #87879D;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
}
nav p   {
    padding-top: 34px;
}
.button1 :first-child{
    font-family:'Red Hat Display', sans-serif;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px; /* 162.5% */
    margin-top: 32px;
    width: 193px;
    height: 58px;
    border-radius: 29px;
    background: #4D96A9;
    margin-right: 16px;
    border: 0
}

.button1 :nth-child(2) {
    font-family:'Red Hat Display', sans-serif;
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px; /* 162.5% */
    margin-top: 32px;
    width: 139px;
    height: 58px;
    border-radius: 29px;
    background: #855FB1;
    border: 0;
}
.button1 {
    display: flex;
    justify-content: center;
}
.image , .image2 {
    max-width: 100%;
    height: 100%;
}
.verticalbar {
    margin-top: 117px;
    stroke-width: 1px;
    stroke: #87879D;
    opacity: 0.25;
}
main {
    display: flex;
    justify-content: center;
}
#cercle p {
    display: flex; 
    margin: auto;
    width: 56px;
    height: 56px;
    padding: 15px 15px 15px 19px;
    border-radius: 29px;
    border: 1px solid rgba(135, 135, 157, 0.25);
    background: #FAFAFA;
}
.pics {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 64px;
    width: 255px;
    height: 242px; 
}
.img1 ,.img2 , .img3 {
    margin-right: 30px;
    border-radius: 8px;
    background: #D8D8D8;
}
.img4 {
    border-radius: 8px;
    background: #D8D8D8;
}
section {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
section p {
    width: 540px;
    padding-top: 32px;
    margin: auto;
}

